## Sprint Challenge: Data Wrangling and Storytelling
### Notebook points total: 14

## Python Fundamentals

**Task 1** - Python Objects
* Create a list object called `list_practice` using the following three strings: `bloom`, `data`, `python`

In [2]:
# YOUR CODE HERE
list_practice=['bloom','data','python']

**Task 1 Test**

In [3]:
#Task 1 - Test
assert isinstance(list_practice, list), "Make sure you created a list object"


**Task 2** - Dictionaries
* Create a dictionary object called `diction_practice`. 
* Assign the following values to their respective keys listed above: `tech`,  `science`, `language`

*Hint:* There are multiple ways you can accomplish this task. You can either write out the key:values pairs manually, or iteratively combine two lists using the [`zip` function](https://docs.python.org/3/library/functions.html).

In [6]:
# YOUR CODE HERE
diction_practice={'bloom':'tech', 'data':'science','python':'language'}

**Task 2 - Test**

In [7]:
#Task 2 - Test

assert isinstance(diction_practice, dict), "Did you use the correct syntax?"


**Task 3** - Dictionaries
* Reassign the value of the `python` key in your dictionary to `'programming_language'`

In [14]:
# YOUR CODE HERE
diction_practice['python']='programming_language'

**Task 3 Tests**

In [15]:
#Task 3 Tests

assert diction_practice['data'] == 'science', "Make sure your values are assigned to their correct keys"

## Use the following information to complete Tasks 



In this Sprint Challenge you will first "wrangle" some data from [Gapminder](https://www.gapminder.org/about-gapminder/), a Swedish non-profit co-founded by Hans Rosling. "Gapminder produces free teaching resources making the world understandable based on reliable statistics."
- [Cell phones (total), by country and year](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/countries-etc-datapoints/ddf--datapoints--cell_phones_total--by--geo--time.csv)
- [Population (total), by country and year](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/countries-etc-datapoints/ddf--datapoints--population_total--by--geo--time.csv)
- [Geo country codes](https://github.com/open-numbers/ddf--gapminder--systema_globalis/blob/master/ddf--entities--geo--country.csv)

These two links have everything you need to successfully complete the first part of this sprint challenge.
- [Pandas documentation: Working with Text Data](https://pandas.pydata.org/pandas-docs/stable/text.html) (one question)
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf) (everything else)

**Task 4** - Load and print the cell phone data.  Pandas and numpy import statements have been included for you.

* Load your CSV file found at `cell_phones_url` into a DataFrame object named `cell_phones`

In [18]:
# Task 4

# Imports 
import pandas as pd
import numpy as np

cell_phones_url = 'https://raw.githubusercontent.com/bloominstituteoftechnology/data-science-practice-datasets/main/unit_1/Cell__Phones/cell_phones.csv'

# Load the dataframe and print the top 5 rows

# YOUR CODE HERE
cell_phones=pd.read_csv(cell_phones_url)
cell_phones.head()

   geo  time  cell_phones_total
0  abw  1960                0.0
1  abw  1965                0.0
2  abw  1970                0.0
3  abw  1975                0.0
4  abw  1976                0.0

**Task 4 Test**

In [17]:
# Task 4 - Test

assert isinstance(cell_phones, pd.DataFrame), 'Have you created a DataFrame named `cell_phones`?'
assert len(cell_phones) == 9574

**Task 5** - Load and print the population data.  

* Load the CSV file found at `population_url` into a DataFrame named `population`

In [20]:
# Task 5

population_url = 'https://raw.githubusercontent.com/bloominstituteoftechnology/data-science-practice-datasets/main/unit_1/Population/population.csv'

# Load the dataframe and print the first 5 records

# YOUR CODE HERE
population=pd.read_csv(population_url)
population.head()

   geo  time  population_total
0  afg  1800           3280000
1  afg  1801           3280000
2  afg  1802           3280000
3  afg  1803           3280000
4  afg  1804           3280000

**Task 5 Test**

In [21]:
# Task 5 - Test

assert isinstance(population, pd.DataFrame), 'Have you created a DataFrame named `population`?'
assert len(population) == 59297

**Task 6** - Load and print the geo country codes data.  

* Load the CSV file found at `geo_codes_url` into a DataFrame named `geo_codes`

In [23]:
# Task 6

geo_codes_url = 'https://raw.githubusercontent.com/bloominstituteoftechnology/data-science-practice-datasets/main/unit_1/GEO_codes/geo_country_codes.csv'

# Load the dataframe and print out the first 5 records

# YOUR CODE HERE
geo_codes=pd.read_csv(geo_codes_url)
geo_codes.head()

,geo,g77_and_oecd_countries,income_3groups,income_groups,is--country,iso3166_1_alpha2,iso3166_1_alpha3,iso3166_1_numeric,iso3166_2,landlocked,...,longitude,main_religion_2008,country,un_sdg_ldc,un_sdg_region,un_state,unicef_region,unicode_region_subtag,world_4region,world_6region
0,abkh,others,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Abkhazia,NaN,NaN,False,NaN,NaN,europe,europe_central_asia
1,abw,others,high_income,high_income,True,AW,ABW,533.0,NaN,coastline,...,-69.96667,christian,Aruba,un_not_least_developed,un_latin_america_and_the_caribbean,False,NaN,AW,americas,america
2,afg,g77,low_income,low_income,True,AF,AFG,4.0,NaN,landlocked,...,66.00000,muslim,Afghanistan,un_least_developed,un_central_and_southern_asia,True,sa,AF,asia,south_asia
3,ago,g77,middle_income,lower_middle_income,True,AO,AGO,24.0,NaN,coastline,...,18.50000,christian,Angola,un_least_developed,un_sub_saharan_africa,True,ssa,AO,africa,sub_saharan_africa
4,aia,others,NaN,NaN,True,AI,AIA,660.0,NaN,coastline,...,-63.05000,christian,Anguilla,un_not_least_developed,un_latin_america_and_the_caribbean,False,NaN,AI,americas,america

**Task 6 Test**

In [24]:
# Task 6 - Test

assert geo_codes is not None, 'Have you created a DataFrame named `geo_codes`?'
assert len(geo_codes) == 273

**Task 7** - Check for missing values

Let's check for missing values in each of these DataFrames: `cell_phones`, `population` and `geo_codes`

* Check for missing values in the following DataFrames:
    * Assign the total number of missing values in `cell_phones` to the variable `cell_phones_missing`
    * Assign the total number of missing values in `population` to the variable `population_missing`
    * Assign the total number of missing values in `geo_codes` to the variable `geo_codes_missing` 
        * Hint: you will need to do a sum of a sum for this last task.

In [45]:
# Task 7

# Check for missing data in each of the DataFrames

# YOUR CODE HERE
cell_phones_missing=cell_phones.isnull().sum().sum()
population_missing=population.isnull().sum().sum()
geo_codes_missing=geo_codes.isnull().sum().sum()

**Task 7 Test**

In [46]:
# Task 7 - Test

if geo_codes_missing == 21: print('ERROR: Make sure to use a sum of a sum for the missing geo codes!')  

# Hidden tests - you will see the results when you submit to Canvas

**Task 8** - Merge the `cell_phones` and `population` DataFrames.

* Merge the `cell_phones` and `population` dataframes with an **inner** merge on both the `geo` and `time` columns.
* Call the resulting dataframe `cell_phone_population`

In [49]:
# Task 8

# Merge the cell_phones and population dataframes

# YOUR CODE HERE
cell_phone_population=pd.merge(cell_phones,population,how='inner',on=['geo','time'])

**Task 8 Test**

In [50]:
# Task 8 - Test

assert cell_phone_population is not None, 'Have you merged created a DataFrame named cell_phone_population?'
assert len(cell_phone_population) == 8930

**Task 9** - Merge the `cell_phone_population` and `geo_codes` DataFrames

* Merge the `cell_phone_population` and `geo_codes` DataFrames with an inner merge using the `geo` column.
* **Only merge the `country` and `geo` columns from the `geo_codes` dataframe.** 
* Call the resulting DataFrame `geo_cell_phone_population`

In [59]:
# Task 9

# Merge the cell_phone_population and geo_codes dataframes
# Only include the country and geo columns from geo_codes

# YOUR CODE HERE
geo_cell_phone_population=pd.merge(cell_phone_population,geo_codes[['geo','country']],how='inner', on='geo')

**Task 9 Test**

In [60]:
# Task 9 - Test
assert len(geo_cell_phone_population) == 8930
assert type(geo_cell_phone_population) == pd.DataFrame

**Task 10** - Calculate the number of cell phones per person.

* Use the `cell_phones_total` and `population_total` columns to calculate the number of cell phones per person for every year. (In other words, for every row). 
* Create a new column: Call this new feature (column) `phones_per_person` and add it to the `geo_cell_phone_population` DataFrame (you'll be adding the column to the DataFrame).

*Hint: You can find a refresher on how to create a new column in Module 2 of this sprint.*

In [80]:
# Task 10

# YOUR CODE HERE
geo_cell_phone_population['phones_per_person']=geo_cell_phone_population['cell_phones_total']/geo_cell_phone_population['population_total']

**Task 10 Test**

In [81]:
# Task 10 - Test

# Hidden tests - you will see the results when you submit to Canvas

**Task 11** - Identify the number of cell phones per person in the US in 2017

* Create a one-row subset of `geo_cell_phone_population` with data on cell phone ownership in the United States for the year 2017.
* Call this subset DataFrame `US_2017`.
* Print `US_2017`.

In [83]:
# Task 11

# Determine the number of cell phones per person in the US in 2017

# YOUR CODE HERE
geo_cell_phone_population.head()
US_2017=geo_cell_phone_population.loc[(geo_cell_phone_population['geo']=='usa')&(geo_cell_phone_population['time']==2017)]

# View the DataFrame
US_2017

,geo,time,cell_phones_total,population_total,country,phones_per_person
8455,usa,2017,400000000.0,325084758,United States,1.230448

**Task 11 Test**

In [84]:
# Task 11 - Test

# Hidden tests - you will see the results when you submit to Canvas

**Task 12** - Describe the numeric variables in `geo_cell_phone_population`

* Calculate the summary statistics for the quantitative variables in `geo_cell_phone_population` using `.describe()`.
* Find the mean value for `phones_per_person` and assign it to the variable `mean_phones`. Define your value out to two decimal points.

In [98]:
# Task 12

# YOUR CODE HERE
mean_phones=geo_cell_phone_population['phones_per_person'].describe()[1].round(2)

**Task 12 Test**

In [99]:
# Task 12 - Test

# Hidden tests - you will see the results when you submit to Canvas

**Task 13** - Subset the DataFrame for 2017

* Create a new dataframe called `df2017` that includes **only** records from `geo_cell_phone_population` that ocurred in 2017.

In [102]:
# Task 13

# Create a new dataframe called df2017 that includes only records from geo_cell_phone_population that ocurred in 2017.

# YOUR CODE HERE
df2017=pd.DataFrame(geo_cell_phone_population[geo_cell_phone_population['time']==2017])

**Task 13 Test**

In [103]:
# Task 13 - Test

# Hidden tests - you will see the results when you submit to Canvas

**Task 14** - Identify the five countries with the most cell phones per person in 2017

* Sort the `df2017` DataFrame by `phones_per_person` in descending order and assign the result to `df2017_top`. Your new DataFrame should only have **five** rows (Hint: use `.head()` to return only five rows).
* Print the first 5 records of `df2017_top`.

In [105]:
# Task 14

# Sort the df2017 dataframe by phones_per_person in descending order
# Return only five (5) rows

# YOUR CODE HERE
df2017_top=df2017.sort_values('phones_per_person',ascending=False).head()

# View the df2017_top DataFrame
df2017_top

,geo,time,cell_phones_total,population_total,country,phones_per_person
3448,hkg,2017,18394762.0,7306315,"Hong Kong, China",2.517652
227,are,2017,19826224.0,9487206,United Arab Emirates,2.089785
365,atg,2017,184000.0,95425,Antigua and Barbuda,1.928216
5253,mdv,2017,900120.0,496398,Maldives,1.813303
1937,cri,2017,8840342.0,4949955,Costa Rica,1.785944

**Task 14 Test**

In [106]:
# Task 14 - Test

assert df2017_top.shape == (5,6), 'Make sure you return only five rows'